extends layout.pug

block content
    h2 Send a new Email
    div.email-form
        form(method='POST' action='/email')
            div.email-form-group
                label(for='recipient') Recipient
                - if (typeof(sender) !== 'undefined') {
                    input.form-control(type='text' id='recipient' placeholder='' name='recipient'  value=sender onblur="checkUsername()" required)
                - } else {
                    input.form-control(type='text' id='recipient' placeholder='' name='recipient' onblur="checkUsername()" required)
                - }
                span#email-to 
            div.email-form-group
                label(for='subject') Subject
                - if (typeof(subject) !== 'undefined') {
                    input.form-control(type='text' id='subject' placeholder='' name='subject'  value=subject required)
                - } else {
                    input.form-control(type='text' id='subject' placeholder='' name='subject' required)
                - }

            - if (typeof(quote) !== 'undefined') {   
                textarea(name="body" rows='25' cols='80') #{quote}
            - } else {
                textarea(name="body" rows='25' cols='80')
            - }
            div.email-form-submit
                button.btn.btn-primary(type='submit') Send
        script.
            function checkUsername() {
                $.ajax({url: "/usercheck?u=" + encodeURIComponent(document.getElementById("recipient").value), success: function(result) {
                    if (result.result === "success") {
                        document.getElementById("email-to").innerHTML = "<span style=\"color: #55FF55;\">OK</span>";
                    } else {
                        document.getElementById("email-to").innerHTML = "<span style=\"color: #FF5555;\">Unknown User</span>";
                    }
                }, error: function() {
                    document.getElementById("email-to").innerHTML = "<span style=\"color: #FF5555;\">An Error Occured</span>";
                }})
            }