extends layout.pug

block content
    h2 #[a(href="/filebase/") #{confn}] &gt; #{arean} 

    center 
        table
            thead 
                tr
                    th File Info 
                    th Description
            tbody
                each item in data
                    tr 
                        td.filelist
                            table 
                                tr 
                                    td.filename #[a(href="/filebase/"+conf+"/"+area+"/"+item['id']) #{item['name']}]
                                    td.filesize #{item['size']}
                                    td.filedlcnt #{item['dlcount']}
                                tr
                                    - var fdate = new Date(item['uldate'] * 1000).toLocaleDateString()
                                    td.fileupdate #{fdate}
                                    - if (item['ulname'] === "") {
                                        td.fileupby(colspan=2) Unknown
                                    - } else {
                                        td.fileupby(colspan=2) #{item['ulname']}
                                    - }
                        td.filedesc !{item['descr']}
    
