extends layout.pug

block content
    h2 #[a(href="/msgbase/") #{confn}] &gt; #[a(href="/msgbase/" + conf + "/" + area) #{arean}] &gt; Private Message

    p This message is private, you can not view it.

    - if (prev !== -1) {
        div.button #[a(href="/msgbase/" + conf + "/" + area + "/" + prev) Previous]
    - }
    - if (next !== -1) {
        div.button #[a(href="/msgbase/" + conf + "/" + area + "/" + next) Next]
    - }