@font-face {
    font-family: 'IBMVga';
    src:  url('/fonts/Web437_IBM_VGA_8x16.woff') format('woff');
  }

body {
background-color: #050505;
color: #bbb;
font-family: 'Nunito', sans-serif;
margin: 0px;
}

#sidebar {
float: right;
padding-top: 15px;
width: 330px;
}

.responsive {
  width: 100%;
  height: auto;
}

#menu {
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid #444;
border-bottom: 1px solid #444;
margin-top: 10px;
width: auto;
text-transform: uppercase;
}


#usermenu {
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    margin-top: 10px;
    width: auto;
    text-transform: uppercase;
}
    

a {
color: #FF88FF;
text-decoration: none;
}

p.catchphrase {
    color:#bbb;
    font-size: small;
    margin-top: -6px;
}

.menuitem {
    padding: 5px 10px 5px 10px;
}
.menuitem a {
    color: #FFFF88;
}

.usermenuitem {
    padding: 5px 10px 5px 10px;
}
.usermenuitem a {
    color: #88FFFF;
}

#page {
padding: 25px 25px 25px 25px;
width: 950px;
margin: auto;
background-color: #050505;
height: auto;
}

#footer {
clear: both;
padding-top: 10px;
text-align: center;
font-size: small;
color: #444;
border-top: 1px solid #444;
}

h2 {
font-size: medium;
font-weight: normal;
color: #88FF88;
}

h4 {
color: #88FFFF;
font-size: medium;
font-weight: normal;
}


td {
border: 1px solid #222;
padding: 5px;
margin: 0px;
}

.emailsubject {
    color: #88ff88;
}
.emaildate {
    color: #ff88ff;
}

.emailsender {
    color: #88ffff;
}

.emailrecipient {
    color: #ffff88;
}

.emailarticle {
    line-height: 1;
    font-family: 'IBMVga', monospace;
    padding-top: 20px;
    color: #bbb;
}

.l10callid {
    color: #FFFF88;
}

.l10nodeno {
    color: #FF88FF;
}

.l10username {
    color: #FFFFFF;
}

.l10timeon {
    color: #88FF88;
}

.l10timeoff {
    color: #FF8888;
}

.l10uploads {
    color: #88FFFF;
}

.l10downloads {
    color: #ff88ff;
}

.l10msgposts {
    color: #88FF88;
}

.l10doorruns {
    color: #8888FF;
}

.olauthor {
    color: #FF88FF;
}

.olline {
    color: #ffffff;
}

.blogdate {
    color: #888;
}

.blogarticle {
    padding-top: 10px;
    font-family: 'IBMVga', monospace;
    font-size: 12pt;
    background-color: #000;
    line-height: 1;
    white-space: pre;
}

.blognext {
    float: right;
}

.ansi {
    font-family: 'IBMVga', monospace;
    font-size: 12pt;
    background-color: #000;
    text-align: center;
    line-height: 1;
}
.canvas {
    display: inline-block;
    text-align: left;
}

.login-form {
    padding: 15px 15px 15px 15px;
}

.login-form-group {
    padding: 10px;
}

.login-form-group label {
    padding: 0 10px 0 10px;
}

.login-form-submit {
    padding: 10px;
}

.email-form {
    padding: 15px 15px 15px 15px;
}

.email-form-group {
    padding: 10px;
}

.email-form-group label {
    padding: 0 10px 0 10px;
}

.email-form-submit {
    padding: 10px;
}

table {
    width: 100%;
}

thead > tr {
    text-align: left;
    background-color: #008888;
    color: #fff;
}

thead > tr > th {
    color: #88ffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

tbody > tr.seen > td {
    text-align: left;
    color: #888888;
}

tbody > tr.unseen > td {
    text-align: left;
    color: #FFFF88;
}

.button {
    display: inline-block;
}
.button a {
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 10px;
    display: block;
}

.curpage {
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #880088;
    margin: 10px;
    display: block;
}

.dotdotdot {
    padding: 5px;
    margin: 15px;
    display: block;
}

.button {
    display: inline-block;
}


.button a:hover {
    padding: 5px;
    border: 1px solid #888;
    background-color: #444;
    margin: 10px;
    display: block;
}

td.msgarea {
    text-align: left;
    color: #888888; 
}

td.msgareanew {
    text-align: left;
    color: #FFFFFF; 
}

td.filelist {
    vertical-align: top;
}

td.filedesc {
    vertical-align: top;
    font-family: 'IBMVga', monospace;
    font-size: 12pt;
    width: 60%;
}


.next {
    float: right;
}

.previous {
    float: left;
}

.msgbody {
    padding-top: 25px;
    line-height: 1;
    font-family: 'IBMVga', monospace;
    font-size: 12pt;
    background-color: #000;
}

#email-to {
    padding-left: 10px;
}

input:valid {
    background-color: palegreen;
}
  
input:invalid {
    background-color: lightpink;
}

@media (max-width: 950px) {
    #page {
        width: 90%;
        padding: 10px 10px 10px 10px;
    }
    .menuitem {
        font-size: large;
    }
    .usermenuitem {
        font-size: large;
    }
}
